APP_ENV=development
ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
MAX_UPLOAD_BYTES=10485760
MAX_TEXT_CHARS=10000
PRELOAD_MODELS=1
IMAGE_MAX_SIDE=2200
MEDIA_TTL_SECONDS=3600
MEDIA_CLEANUP_INTERVAL_SECONDS=300
MEDIA_MAX_BYTES=536870912
MAX_ACTIVE_READS=1
DEFAULT_ZH_VOICE=zf_xiaoxiao
DEFAULT_EN_VOICE=af_heart
KOKORO_SPEED=1.0
KOKORO_DEVICE=cpu
PADDLE_USE_GPU=0
PADDLE_ENABLE_MKLDNN=0
PADDLE_ENABLE_HPI=0
PADDLE_CPU_THREADS=4
PADDLE_PDX_DISABLE_MODEL_SOURCE_CHECK=True
ESPEAK_NG_PATH=
